* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.input-area {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 1fr;
  height: 100vh;
  width: 100vw;
  padding: 30px;
}

input {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  background-color: transparent;
  position: relative;
}

.input-area::after {
  content: "🔎";
  position: absolute;
  top: 58px;
  right: 45px;
  color: black;
  font-size: 26px;
}

.word {
  font-weight: bold;
  font-size: 20px;
}

.definition {
  font-style: italic;
}
